html,
body {
    width: 100% !important;
    height: 100% !important;
}

/*wrappers*/
.wrapper {
    padding:20px
}
.wrapper-xs {
    padding:5px;
}
.wrapper-sm {
    padding:10px
}
.wrapper-b {
    padding:30px;
}

/*text size*/
.text-lg {
    font-size: 18px;
}
.text-md {
    font-size: 16px;
}
.text-base {
    font-size: 14px;
}
.text-sm {
    font-size: 13px;
}
.text-xs {
    font-size: 12px;
}

.loginBody {
    padding-top:300px;
    background-position:center top;
    background-color: #ffffff !important;
    background-image: url("../img/car.jpg");
    background-size: 500px;
    background-repeat:no-repeat;
}

.loadingMask {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
    background-image: url("../img/loading.gif");
    background-size: 50px ;
    background-color: #0f0f0f;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.50 !important;
    filter: alpha(opacity=50);
}

.app-content,
.footer {
    margin-left: 250px;
}

.footer {
    position: fixed;
    bottom:0;
    z-index: -1;
}

.app-content {
    height: 100%;
}

.header-space {
    padding-top: 50px;
}

.header-left-space {
    width: 250px;
}

.app-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #efefef;
    border-bottom: 1px solid gray;
}

.navi-wrap {
    background-color: #337ab7;
    border:2px solid #2e6da4;
    border-bottom: none;
    color:#cccccc ;
}

.navi-wrap a {
    color: whitesmoke;
}
.page-left-side {
    width: 250px;
    position: relative;
    float: left;
}

.page-left-side:before{
    content: "";
    width: inherit;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    background-color: inherit;
}

/*Navigation menu items styles >>>>>>>>*/
.page-left-side li.nav-sub {
    margin-left: 25px;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

/*.page-left-side li:active .nav-sub,*/
.page-left-side li:hover.nav-sub,
.page-left-side li:focus.nav-sub {
    margin-left: 30px;
    height: auto !important;
}

.textHide {
    display: none !important;
}

.helpIcon {
    height: 60px;
}

.helpIcon:hover {
    font-size:2em !important;
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}

.form-validation .form-control.ng-dirty.ng-invalid {
    border-color: red !important;
}

.form-validation .form-control.ng-dirty.ng-valid:focus {
    border-color: green !important;;
}

.form-validation .i-checks.ng-invalid.ng-dirty {
    border-color: red !important;;
}


/*.text {*/
/*display: inline-block !important;*/
/*}*/
/*.text-active {*/
/*display: none !important;*/
/*}*/
/*.page-left-side li:active .text,*/
/*.page-left-side li:hover .text,*/
/*.page-left-side li:focus .text  {*/
/*display: none !important;*/
/*}*/

/*.page-left-side li:active .text-active,*/
/*.page-left-side li:hover  .text-active,*/
/*.page-left-side li:focus  .text-active {*/
/*display: inline-block !important;*/
/*}*/
/*<<<<<<<<<<<< Navigation menu items styles*/



/*.logoLogin{*/
/*margin-top:50px;*/
/*background-image: url('../img/logo_280.png') !important;*/
/*background-size: 100% !important;*/
/*height:120px !important;*/
/*width:280px !important;*/
/*}*/
