<div class="col-md-12" ng-controller="clientListController as clientListContr" loading-mask-watcher="{{clientListLoadingArr}}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span translate="client.CLIENT_LIST"></span>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-striped">
                    <!--search -->
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchClient" placeholder="{{placeholder|translate}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!--search -->
                    <thead>
                    <tr>
                        <th width="80px"></th>
                        <th translate="client.FIRST_NAME"></th>
                        <th translate="client.LAST_NAME"></th>
                        <th translate="client.EMAIL"></th>
                        <th width="100px"></th>
                        <th width="100px"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="client in  $data | filter: searchClient">
                        <td style="vertical-align: middle">
                            <img width="60" ng-src="{{::client.image}}">
                        </td>
                        <td style="vertical-align: middle">{{::client.firstname}}</td>
                        <td style="vertical-align: middle">{{::client.lastname}}</td>
                        <td style="vertical-align: middle">{{::client.email}}</td>
                        <td style="vertical-align: middle">
                            <button class="btn btn-sm btn-info"
                                    ng-click="onEditClick(client)">
                                <i class="fa fa-wrench"></i>
                                <span translate="page.EDIT"></span>
                            </button>
                        </td>
                        <td style="vertical-align: middle">
                            <button class="btn btn-sm btn-danger"
                                    ng-click="onDeleteClick(client)">
                                <i class="fa fa-remove"></i>
                                <span translate="page.DELETE"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

