<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>ngSiteExample</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/ng-table_v.1.0.0/ng-table.min.css">
</head>
<body ng-app="myApp" ng-controller="mainController" loading-mask-watcher="{{logoutLoadingArr}}">

    <div class="wrapper-sm pull-right" ng-if="!isLoggedIn">
        <select class="form-control" ng-model="site.currentLangIso" ng-change="changeLanguage(site.currentLangIso)">
            <option value="" translate="page.PLEASE_SELECT"></option>
            <option ng-repeat="(langIso, lang) in languageObj" value="{{langIso}}"
                ng-selected="langIso === site.currentLangIso">
                {{lang}}
            </option>
        </select>
    </div>

    <div ui-view></div>

    <script src="../js/angular/angular.min.js"></script>
    <script src="../js/angular/angular-route.min.js"></script>
    <script src="../js/angular/angular-animate.js"></script>
    <script src="../js/angular/angular-cookies.js"></script>
    <script src="../js/uiRouter/angular-ui-router.min.js"></script>
    <script src="../js/jquery/jquery-3.1.1.min.js"></script>
    <script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <script src="app.js"></script>
    <script src="main/mainController.js"></script>
    <script src="directive/login/login-directive.js"></script>
    <script src="directive/login/loginController.js"></script>
    <script src="directive/login/loginService.js"></script>
    <script src="login/service/logoutService.js"></script>
    <script src="login/service/userService.js"></script>

    <script src="directive/loadingMaskWatcher-directive.js"></script>

    <script src="main/service/exchangeService.js"></script>
    <script src="main/service/utilService.js"></script>
    <script src="ngService/feedback/feedbackService.js"></script>
    <script src="ngService/message/modalMessageService.js"></script>

    <script src="start/startController.js"></script>
    <script src="client/clientListController.js"></script>
    <script src="client/clientCreateController.js"></script>
    <script src="help/helpController.js"></script>

    <script src="client/service/clientCreateService.js"></script>
    <script src="client/service/clientUpdateService.js"></script>
    <script src="client/service/clientListService.js"></script>

    <script src="../js/ng-table_v.1.0.0/ng-table.js"></script>

    <script src="../js/translate/angular-translate.min.js"></script>
    <script src="../js/translate/angular-translate-storage-cookie.min.js"></script>
    <script src="../js/translate/angular-translate-storage-local.min.js"></script>
    <script src="../js/translate/angular-translate-loader-static-files.min.js"></script>
</body>
</html>
