<div class="">
    <div class="navbar-header header-left-space">
        <a class="navbar-brand" href="#">ngSiteExample</a>
    </div>

    <a href class="btn navbar-btn ">
        <i class="fa fa-envelope-o"></i>
        <span translate="header.FEEDBACK"></span>
    </a>


    <div class="pull-right">
        <!--<li class="padding-menu hoverWhite pointerCursor" ng-click="onTimerTouch()">-->
        <!--<timer></timer>-->
        <!--</li>-->

        <a href class="btn navbar-btn ">
            <i class="fa fa-user"></i>
            <span style='color:grey'> UserName </span>
        </a>

        <a href class="btn navbar-btn navbar-btn " ng-click="onLogoutClick()">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</div>


