<!-- first -->
<ul class="nav">
    <li class="">
        <span translate="nav.NAVIGATION"></span>
    </li>

    <li>
        <a href="#/start" ng-click="goto('start/start.html')">
            <!--<div  class="icons-sidenav"></div>-->
            <span class="font-bold" translate="nav.START"></span>
        </a>
    </li>

    <li>
        <a href="#/help" ng-click="goto('help/help.html')">
            <!--<div class="icons-sidenav"></div>-->
            <span translate="nav.HELP"></span>
        </a>
    </li>

</ul>