<div class="navbar-brand header-left-space">
    <!--fa-2x-->
    <div class="label label-primary">
        <span class="text-base">
            <i class="fa fa-hand-peace-o animatedIcon"></i>
            NGSite
        </span>
    </div>
</div>

<span href class="btn navbar-btn" ng-click="onFeedbackClick()">
    <i class="fa fa-cogs animatedIcon"></i>
    <span class="text-muted" translate="header.FEEDBACK"></span>
</span>

<div class="pull-right">

    <span class="dropdown">
        <button class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span>{{languageObj[site.currentLangIso] || "header.LANGUAGE" | translate}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="(langIso, lang) in languageObj">
                <a href ng-click="changeLanguage(langIso)">{{lang}}</a>
            </li>
        </ul>
    </span>

    <span href class="btn navbar-btn" ng-click="slidePanel.active = !slidePanel.active">
        <i class="fa fa-user-o animatedIcon"></i>
        <span class="text-muted"> {{userData.username}} </span>
    </span>

    <a href class="btn navbar-btn navbar-btn " ng-click="onLogoutClick()">
        <i class="fa fa-sign-out animatedIcon"></i>
    </a>
</div>

