<div class="header-space"></div>

<div ng-include=" 'app/main/view/header.html' " class="app-header"></div>

<nav ng-include="'app/main/view/nav.html'"></nav>

<!-- slidePanel example start-->
<div class="slidePanel" ng-class="{'active':slidePanel.active}">
    <div class="panel panel-primary" >
        <div class="panel-heading" style="background-color: #6293bd">
            <img width="40" class="wrapper-xs" src="img/icons/user15.png">
            <span class="h5">{{userData.username}}</span>
        </div>
        <div class="panel-body">
            <div class="wrapper-sm">
                <label class="text-info pull-right">
                    {{userData.firstname}}
                </label>
                <span class="h5 text-info" translate="client.FIRST_NAME"></span>
            </div>

            <div class="wrapper-sm">
                <label class="text-info pull-right">
                    {{userData.lastname}}
                </label>
                <span class="h5 text-info" translate="client.LAST_NAME"></span>
            </div>

            <button class="btn btn-primary"
                    ng-click="slidePanel.active = !slidePanel.active">
                <span translate="page.OK"></span>
            </button>
        </div>
    </div>
</div>
<!--slidePanel  example end-->

<div class="app-content">
    <div class="wrapper-sm">
        <div ui-view></div>
    </div>
</div>

<div class="footer wrapper">
    <div class="col-md-12">
        <span class="text-sm text-muted" translate="footer.FOOTER"></span>
    </div>
</div>

