<div class="header-space"></div>

<div ng-include=" 'main/view/header.html' " class="app-header"></div>

<nav ng-include="'main/view/nav.html'"></nav>

<!-- slidePanel example start-->
<div class="slidePanel" ng-class="{'active':slidePanel.active}">
    <!--<button class="btn btn-default" ng-click="slidePanel = !slidePanel">-->
        <!--<i class="fa fa-gear"></i>-->
    <!--</button>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="text-muted" translate="user.SEND_MESSAGE"></span>
            (<i class="fa fa-user-o"></i>)
        </div>
        <div class="panel-body">
            <!--<label class="i-switch bg-info pull-right">-->
                <!--<input type="checkbox" ng-model="app.slidePanel.chal">-->
                <!--<i></i>-->
            <!--</label>-->
            <textarea class="form-control modalMessage"
                      style="margin-bottom: 10px"
                      name="body"
                      ng-model="feedback.body">
            </textarea>
            <button class="btn btn-primary pull-right"
                    ng-click="slidePanel.active = !slidePanel.active">
                <span translate="page.OK"></span>
            </button>
        </div>
    </div>
</div>
 <!--slidePanel  example end-->

<div class="app-content">
    <div class="wrapper-sm">
        <div ui-view></div>
    </div>
</div>

<div class="footer wrapper">
    <div class="col-md-12">
        <span class="text-sm text-muted" translate="footer.FOOTER"></span>
    </div>
</div>

