<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="h4 text-muted" translate="start.START_TITLE1"></span>
        </div>
        <div class="panel-body">
            <div class="loginBody"></div>
            <span translate="start.START_BODY1"></span>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="h4 text-muted" translate="start.START_TITLE2"></span>
        </div>
        <div class="panel-body">
            <div class="helpImage fitBackgroundImage"></div>
            <span translate="start.START_BODY2"></span>
        </div>
    </div>
</div>
