<div class="navbar-brand header-left-space">
    <!--fa-2x-->
    <div class="label label-primary">
        <span class="text-base">
            <i class="fa fa-hand-peace-o"></i>
            NGSite
        </span>
    </div>
</div>

<span href class="btn navbar-btn" ng-click="onFeedbackClick()">
    <i class="fa fa-envelope-o"></i>
    <span class="text-muted" translate="header.FEEDBACK"></span>
</span>


<div class="pull-right">

    <span class="dropdown">
        <button class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span>{{site.language || "page.PLEASE_SELECT" | translate}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href ng-click="changeLanguage('eng')">English</a></li>
            <li><a href ng-click="changeLanguage('deu')">Deutsch</a></li>
        </ul>
    </span>

    <span href class="btn navbar-btn ">
        <i class="fa fa-user-o"></i>
        <span class="text-muted"> {{userData.username}} </span>
    </span>

    <a href class="btn navbar-btn navbar-btn " ng-click="onLogoutClick()">
        <i class="fa fa-sign-out"></i>
    </a>
</div>

